@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #a020f0;
  --secondary: #ff007f;
  --accent: #ffd700;
  --card-bg: #121225;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-card-bg: var(--card-bg);
  --font-sans: Arial;
  --font-heading: var(--font-evil);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden !important;
}
p {
  font-family: var(--font-sans), sans-serif;
}
